{% for label, messages in app.flashes %}
    <div class="shell flashes">
        {% for message in messages %}
            <p class="flash flash--{{ label }}">{{ message }}</p>
        {% endfor %}
    </div>
{% endfor %}
